@model VeiculoVM

@{
    ViewData["Title"] = "Details";
}

<h1>Visualização</h1>

<div>
    <h4>Veiculo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProprietarioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model!.Proprietario!.Nome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Renavam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Renavam)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model!.Marca!.Nome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnoFabricacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnoFabricacao)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnoModelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnoModelo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quilometragem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quilometragem)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusVeiculo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusVeiculo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
